/*footer*/
.pie{
	width: 100%;
	max-width: 120%;
	height: 50%;
}

.pie .grupo1{
	width: 100%;
	max-width: 120%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	background-color: #000;	
}
@media screen and (max-width: 768px)  {
	.pie .grupo1 { 
		grid-template-columns: none;
		grid-template-rows: repeat(3, 1fr);
	}
}


.pie .grupo1 .box figure{
	width: 100%;
	max-width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-content: center;
}

.pie .grupo1 .box1 figure img{
	width: 150px;
}

div .box2 .h2 {
	color: $secondaryColor;
	margin: 10px;
}

p{
	color: $secondaryColor;
}

h3{
	color: $secondaryColor;
	margin: 10px;
}

div .red-social a{
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: $secondaryColor;
	text-align: center;
	margin-right: 10px;
	background-color: #000;
	transition: all 300ms ease;
}
div .red-social a:hover{
	color: #279;
}
a{
	text-decoration: none;
}