/*multimedia*/
.multimedia{
	padding: 0 10px;
}
.carrusel{
	margin: auto;
	padding: 5% 0 20%;
}
@media screen and (max-width: 768px){
	.carrusel img {
		width: 100%;
	}
}
.multimediatitulo{
	font-size: 40px;
	padding: 5%;
	background: $mainColor;
	background: $mainColor;
}
