* {
  padding: 0;
  margin: 0;
  font-family:'Libre Baskerville', 'sans-serif';
}

/*index.html*/
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root {
  --card-height: 50vh;
  --card-width: calc(var(--card-height) / 1.5);
}

body {
  min-height: 100vh;
  background: #212534;
}

.flex-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  min-width: 250px;
  padding: 50px;
  margin: 20px;
  gap: 20px;
}

.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1em;
  color: rgba(88, 199, 250, 0);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(88, 199, 250);
  transition: color 2s;
}

.card:hover:before,
.card:hover:after {
  -webkit-animation: none;
          animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  -webkit-animation: spin 2.5s linear infinite;
          animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-animation: spin 2.5s linear infinite;
          animation: spin 2.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
a {
  color: #5ddcff;
  text-decoration: none;
  font-weight: bold;
}


/*barra navegacion general*/
.barra-navegacion-general {
  font-size: 25px;
  background: rgb(126, 65, 117) linear-gradient(90deg, rgb(126, 65, 117) 0%, rgb(120, 124, 183) 0%, rgb(0, 212, 255) 97%, rgb(160, 200, 196) 100%, rgb(75, 39, 168) 100%, rgb(28, 179, 224) 100%);
  background: linear-gradient(90deg, rgb(126, 65, 117) 0%, rgb(120, 124, 183) 0%, rgb(0, 212, 255) 97%, rgb(160, 200, 196) 100%, rgb(75, 39, 168) 100%, rgb(28, 179, 224) 100%);
}
.barra-navegacion-general a{
  margin: 40px;
}

/*biografia*/
.biografia {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px;
  padding: 20px;
}

.biografia div .textobiografia {
  min-width: 350px;
}

.biografia div .textobiografia h1 {
  color: #fff;
}

.biografia div .textobiografia p {
  color: #fff;
  font-family: "Libre Baskerville";
}

.biografia div img {
  width: 30%;
  position: relative;
}

/*noticias*/
.noticias {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 100px;
  padding: 10px;
}

.noticias div .textnews {
  width: 350px;
}

.noticias div .textnews h3 {
  color: #fff;
  font-family: "Libre Baskerville";
}

.noticias div .textnews p {
  color: #fff;
  font-family: "Josefin Sans";
}

.noticias img {
  width: 100%;
  position: relative;
}


/*formulario*/
  .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

  .contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0, 0.20);
}
  .izquierda{
    height: 100%;
    background: url("./fotos/formulario.jpg") no-repeat center;
     background-size: cover;
}
  .derecha{
    padding: 25px 40px;
}
  .formulario{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
  .formulario .h8{
    padding: 10px;
    margin: 10px;

}
 
  .fila{
    width: 80%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid #191c29;
    background-color: #191c29;
    font-size: 1.1rem;
    margin-bottom: 20px;
    transition: .3s;
}
.fila:hover{
  background-color: ;
}
.fila:focus{
  background-color: #fff;
  border: 2px solid #000;
}

  .area{
    min-height: 150px;

}
.btn{
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #191c29;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  transition: .3sg;
}
  .btn:hover{
    background-color: ;

}
 @media screen and (max-width:880px){
  .contact-box{
  grid-template-columns: 2fr;
 }
 .izquierda{
  height: 200px;
 }
}




/*multimedia*/
.multimedia {
  padding: 0 10px;
}

.carrusel {
  margin: auto;
  padding: 5% 0 20%;
}

@media screen and (max-width: 768px) {
  .carrusel img {
    width: 100%;
  }
}
.multimediatitulo {
  font-size: 40px;
  padding: 5%;
  background: rgb(126, 65, 117) linear-gradient(90deg, rgb(126, 65, 117) 0%, rgb(120, 124, 183) 0%, rgb(0, 212, 255) 97%, rgb(160, 200, 196) 100%, rgb(75, 39, 168) 100%, rgb(28, 179, 224) 100%);
  background: rgb(126, 65, 117) linear-gradient(90deg, rgb(126, 65, 117) 0%, rgb(120, 124, 183) 0%, rgb(0, 212, 255) 97%, rgb(160, 200, 196) 100%, rgb(75, 39, 168) 100%, rgb(28, 179, 224) 100%);
}

/*discos*/
.titulo {
  font-size: 40px;
  padding: 5%;
  background: rgb(126, 65, 117) linear-gradient(90deg, rgb(126, 65, 117) 0%, rgb(120, 124, 183) 0%, rgb(0, 212, 255) 97%, rgb(160, 200, 196) 100%, rgb(75, 39, 168) 100%, rgb(28, 179, 224) 100%);
}

.discos {
  padding: 0 5% 10% 5%;
}

.discos img {
  width: 100%;
}

/*footer*/
.pie {
  width: 100%;
  max-width: 120%;
  height: 50%;
}

.pie .grupo1 {
  width: 100%;
  max-width: 120%;
  margin: auto;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .pie .grupo1 {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }
}
.pie .grupo1 .box figure {
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pie .grupo1 .box1 figure img {
  width: 150px;
}

div .box2 .h2 {
  color: #fff;
  margin: 10px;
}

p {
  color: #fff;
  font-family: "Libre Baskerville";

}

h3 {
  color: #fff;
  margin: 10px;
}

div .red-social a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  background-color: #000;
  transition: all 300ms ease;
}

div .red-social a:hover {
  color: #279;
}

a {
  text-decoration: none;
}
