@mixin div-general{
    display: flex;
	justify-content: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.div-general{
    @include div-general();
}

@mixin nav-proceso ($size, $color, $paddi, $font){
    font-size: $size;
    background-color: $color;
    padding: $paddi;
    font-family: $font;

}

.texto-general{
    @include nav-proceso();
}